.App {
  text-align: center;
}

.done {
  color: gray;
}

.invisible {
  display: none;
}

.checkbox {
  display: inline-block;
  padding: 7.5px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  margin-right: 5px;
}

.checked {
  background-color: red;
}
